.card__cnahge_position {
  display: flex;
}

.move_to {
  border: none;
  background-color: #FFFFFF;

  margin: 0;

  transition: background-color 0.3s ease-in;
}

.move_to:hover{
    background-color: #f5f5f5;
}

.move_to:not(:last-child) {
  margin-right: 5px;
}

.move_to_active{
    background-color: #eeeeee;
}
.move_to:not(.move_to_active){
  cursor: pointer;
}
