.card__cnahge_position {
  display: flex;
  justify-content: space-between;
}

.move_to {
  border-radius: 10%;

  padding: 5px;
  margin: 0;
  
  background-color: #ffffffc5;

  transition: background-color 0.3s ease-in;
}

.move_to:hover{
  background-color: #d1d1d180;
}

.move_to_active{
  background-color: #d1d1d180;
  cursor:auto;
}